{% extends 'base.html' %}
{% block login %}
{% if havelogin %}
<ul class="nav navbar-nav navbar-right">
    <li><a href="/MLWebService/logout">登出</a></li>
    </ul>
{% else %}
<ul class="nav navbar-nav navbar-right">
    <li><a href="/MLWebService/login">登录</a></li>
    <li><a href="/MLWebService/register">注册</a></li>
</ul>
{% endif %}
{% endblock%}

{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.10/require.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>


<style type="text/css">
/* Overrides of notebook CSS for static HTML export */


div#notebook {
  overflow: visible;
  border-top: none;
}@media print {
  div.cell {
    display: block;
    page-break-inside: avoid;
  } 
  div.output_wrapper { 
    display: block;
    page-break-inside: avoid; 
  }
  div.output { 
    display: block;
    page-break-inside: avoid; 
  }
}
</style>
    <!-- End of mathjax configuration --></head>
  <div tabindex="-1" id="notebook" class="border-box-sizing">
    <div class="container" id="notebook-container">

<div class="cell border-box-sizing text_cell rendered"><div class="prompt input_prompt">
</div><div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<h1 id="&#26426;&#22120;&#23398;&#20064;WebService">&#26426;&#22120;&#23398;&#20064;WebService</h2><ul>
<li>python框架 Django</li>
<li>机器学习库 sklearn</li>
</ul>
<h2 id="&#30446;&#26631;&#23454;&#29616;&#21151;&#33021;:">&#30446;&#26631;&#23454;&#29616;&#21151;&#33021;</h2><p>拟支持模型 : kNN, Logistic, SVM, DecisionTree</p>
<ol>
<li><p>上传文件,并保存至服务器</p>
<ul>
<li>文件格式要求:第1行为特征名与种类名,第2-n行,前m列为特征值,最后一列为种类。数据间以 ' '或 '\t' 隔开,（之后可以提供多文件类型支持）</li>
<li>文件上传后,将相关属性存储到数据库中</li>
<li>ORM : trainingTask ( OID (训练任务序号), trainingName (训练名称, 也是模型名称), trainingDataFile (数据文件路径), typeOfModel (模型种类), onTraining (是否在训练,-1未开始训练, 0正在训练, 1已经完成训练), uploadTime (上传时间) )</li>
</ul>
</li>
<li><p>数据处理</p>
</li>
<ul>
<li>对字符串数据</li>
<li>对缺失数据</li>
<li>（对数据的归一化位于下面pipeline中）</li>
</ul>
<li>训练模型保存模型文件</li>
<ul>
<li>Pipeline: 管道机制，过程包括归一化和PCA</li>
<li>GridsearchCV: 用于寻找表现良好的参数组合，评价标准为交叉验证的正确率</li>
<li>再次访问任务页面时,检查"正在训练"任务是否在模型文件夹中存在对应的模型文件, 若存在则更新数据库，将其修改为训练完成（暂时以这种方式来处理）</li>
</ul>
<li><p>测试模型</p></li>
<ul>
<li>测试主要是在页面提交数据，之后返回测试结果</li>
<li>测试结果可以下载到本地</li>
</ul>
</ol>

</div>
</div>
</div>
    </div>
  </div>
  {% endblock %}
