<!doctype html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8">
<title>Machine Learning</title>
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>

<body>
        <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                      <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                         <span class="icon-bar"></span>                        
                   </button>
                        <a class="navbar-brand" href="#">机器学习训练服务</a>
                      </div>
                      <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav">
                          <li><a href="/MLWebService/index">上传训练数据</a></li>
                          <li><a href="/MLWebService/tasks">管理训练任务</a></li>
                        </ul>
                      </div>
                    </div>
                </nav>
    <h2>上传训练数据集</h2><br>
    <div class="jumbotron">
        <form method="POST" action="?" role="form" enctype="multipart/form-data">{% csrf_token %}
            <div class="form-group">
                <label for="name">模型名称</label>
                <input type="text" name="modelName"/>
            </div>
            <div class="form-group">
                <label for="name">模型种类</label>
                <select name="modelSelection">
                    <option value="kNN">k Nearest Neighbors</option>
                    <option value="Logistic">Logistic</option>
                    <option value="SVM">Support Vector Machine</option>
                    <option value="DTree">Decision Tree</option>
                </select>
            </div>
            <div class="form-group">
                <label for="name">输入训练数据</label>
                <input type="file" name="trainingData"/>
            </div>            
            <input type="submit" value="提交数据" class="btn btn-primary" />
        </form>
    </div>
</body>
