<!doctype html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8">
<title>Machine Learning</title>
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
    <nav class="navbar navbar-inverse ">
            <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                  <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
                     <span class="icon-bar"></span>                        
               </button>
                    <a class="navbar-brand" href="#">机器学习训练服务</a>
                  </div>
                  <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                      <li ><a href="/MLWebService/index">上传训练数据</a></li>
                      <li><a href="/MLWebService/tasks">管理训练任务</a></li>
                    </ul>
                  </div>
                </div>
            </nav>
    <h2>机器学习训练任务管理</h2>
    <table class="table">
        <caption>存储的数据</caption>
        <thead>
            <tr>
                <td>序号</td>
                <td>模型名</td>
                <td>模型种类</td>
                <td>是否在训练</td>
                <td>上传时间</td>
            </tr>
        </thead>
        <br>
        <tbody>
            {% for result in data %}
                <tr>
                    <td>{{ result.oid}}</td>
                    <td>{{ result.trainingName }}</td>
                    <td>{{ result.typeOfModel}}</td>
                    {% if result.onTraining == -1  %}
                    <td>未训练</td>
                    {% elif result.onTraining == 0%}
                    <td>正在训练</td>
                    {% else%}
                    <td>训练完成</td>
                    {% endif%}
                    <td>{{ result.uploadTime}}</td>
                    {% if result.onTraining == -1  %}
                    <td>
                        <form action="task{{result.oid}}" method="POST" style="float:left " >{% csrf_token %}
                            <input type="submit" value="训练模型" class="btn btn-primary">&nbsp;</input>
                        </form>
                        <form action="delete{{result.oid}}" method="POST">{% csrf_token %}
                            <input type="submit" value="删除任务" class="btn btn-danger" />
                        </form>
                    </td>
                    {% elif result.onTraining == 0%}
                    <td>请等候</td>
                    {% else%}
                    <td>
                        <form action="test{{result.oid}}" method="POST"style="float:left " >{% csrf_token %}
                            <input type="submit" value="测试模型" class="btn btn-success">&nbsp;</input>
                        </form>
                        <form action="delete{{result.oid}}" method="POST">{% csrf_token %}
                            <input type="submit" value="删除任务" class="btn btn-danger" />
                        </form>
                    </td>
                    {% endif%}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
