<!doctype html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8">
<title>Machine Learning</title>
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
    <nav class="navbar navbar-inverse ">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand" href="#">机器学习训练服务</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li><a href="/MLWebService/index">上传训练数据</a></li>
              <li><a href="/MLWebService/tasks">管理训练任务</a></li>
            </ul>
          </div>
        </div>
    </nav>
    <div class="container">
      <div class="col-sm-5">
        <h3>模型详情</h3>
        <ul class="list-group">
            <li class="list-group-item">序号:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{MoDel.oid}}</li>
            <li class="list-group-item">模型名称:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{MoDel.trainingName}}</li>
            <li class="list-group-item">模型种类:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{MoDel.typeOfModel}}</li>
            <li class="list-group-item">模型正确率:&nbsp;&nbsp;&nbsp;{{score}}</li>
            <li class="list-group-item">完成时间:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{time}}</li>
            <li class="list-group-item">模型特征值:&nbsp;&nbsp;&nbsp;{{features}}</li>
        </ul>
    </div>
    <div class="col-sm-8">
      <form role="form" action="startTest{{MoDel.oid}}" method="POST">{% csrf_token %}
        <div class="form-group">
          <label for="name">输入测试数据</label>
          <textarea class="form-control" rows="5" name = "testData"></textarea>
        </div>
        <input type="submit" value="开始测试" class="btn btn-danger" />
      </form>
    </div>
    
</body>